<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Удаление записи</title>
</head>
<body>
    <h1>Удалить запись</h1>
    <p>Вы точно хотите удалить запись "{{ note.title }}"?</p>
    <form action="{% url 'delete_note' note.pk %}" method="post">
        {% csrf_token %}
        <button type="submit">Потвердите удаление</button>
    </form>
    <a href="{% url 'index' %}">Отмена</a>
</body>
</html>
