{% extends "header.html" %}

{% block title %}
    MemoTrips
{% endblock %}

{% block content %}
    <h1>Мои впечатления о посещенных местах</h1>
    {% if user.is_authenticated %}
        <ul>
            {% for note in notes %}
                <li>
                    <h2>{{ note.title }}</h2>
                    <p>{{ note.comment }}</p>
                    <p>{{ note.location }}</p>
                    <a href="{% url 'edit_note' note.pk %}" class="btn btn-primary">Изменить</a>
                    <form action="{% url 'delete_note' note.pk %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </li>
               <a href="{% url 'add_note' %}" class="btn btn-success mt-3">Добавить впечатление</a>
             {% empty %}
            <div style="text-align: center">
                <p> Добро пожаловать, {{ user.username }}</p>
                <p> У вас нет ни одного воспоминания</p>
                <a href="{% url 'add_note' %}" class="btn btn-success mt-3">Добавить впечатление</a>
            </div>
        {% endfor %}
        </ul>

    {% else %}
        <p>Вам нужно войти в систему для доступа к записям</p>
    {% endif %}
{% endblock %}

