<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MemoTrips</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">


</head>
<body>
    <div class="center-content">
        <div class="container">
            <h1>Вход</h1>
            <div class="text">
                <p>Здесь вы можете сохранять свои воспоминания о посещенных местах,</p>
                <p>отмечая их на карте и оставляя комментарии.</p>
            </div>
            <div>
                <form method="post" class="login-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary login-button" type="submit">Войти</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
