
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: white; /* Цвет фона контейнера */
    padding: 20px; /* Внутренний отступ контейнера */
    border-radius: 10px; /* Скругление углов контейнера */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень контейнера */
}

.login-form {
    width: 50%; /* Ширина формы */
    margin: auto; /* Центрирование формы */
}

.login-button {
    width: 100%; /* Ширина кнопки */
    margin-top: 20px; /* Отступ от верхней части формы */
    background-color: #007bff; /* Синий цвет кнопки */
    border-color: #007bff; /* Цвет рамки кнопки */
    padding: 10px 20px; /* Внутренние отступы кнопки */
    border-radius: 25px; /* Скругление углов кнопки */
}

.login-button:hover {
    background-color: #0056b3; /* Измененный цвет кнопки при наведении */
    border-color: #0056b3; /* Измененный цвет рамки кнопки при наведении */
}

.text {
    margin-bottom: 20px; /* Отступ между текстом и формой */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container {
    margin-top: 50px;
}

h1 {
    margin-bottom: 30px;
}

.list-group-item {
    background-color: white;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.list-group-item h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.list-group-item p {
    margin-bottom: 10px;
}

.list-group-item .btn {
    margin-right: 10px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

header h1 {
    margin: 0;
}

.nav-link {
    font-weight: bold;
